
.content h3 {
    /* Already in styles.css */
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 400 !important;
    line-height: 1 !important;
    margin-top: 0;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-size: 228.5%;
    margin: 1.25em 0 0.2em;
    text-rendering: optimizelegibility;
 }
 .content {
    display: block;
    text-align: center;
    margin: 30px auto;
 }
 .content h3 {
    color: #002f56;
 }
 .border-wrapper {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 50px 50px;
 }
 .border-wrapper::before {
    content: "";
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    display: inline-block;
    border-top: solid 3px #21618C;
    border-left: solid 3px #21618C;
    height: 60px;
    width: 60px;
 }
 .border-wrapper::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    display: inline-block;
    border-bottom: solid 3px #21618C;
    border-right: solid 3px #21618C;
    height: 60px;
    width: 250px;
 }



 .border-wrapper2 {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 50px 50px;
 }
 .border-wrapper2::before {
    content: "";
    text-align: left;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    display: inline-block;
    border-top: solid 4px #d85b02;
    border-left: solid 4px  #d85b02;
    height: 60px;
    width: 150px;
 }
 .border-wrapper2::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    display: inline-block;
    border-bottom: solid 4px #d85b02;
    border-right: solid 4px #d85b02;
    height: 60px;
    width: 150px;
 }
 
 body {
    height: 100vh;
}
 .button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
    text-align: center;
    padding: 10px;
    border: 2px ;
    font-size: 24px;
    border: 4px solid aqua;
}
.btn {
    text-decoration: none;
    color: black
}
.button:before {
    content: "";
    display: block;
    position: absolute;
    top: 47px;
    left: 10%;
    height: 4px;
    width: 30px;
    background-color: white;
    transform:skewX(-45deg);
    transition: all .4s ease-in;
}
.button:after {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    right: 10%;
    height: 4px;
    width: 30px;
    background-color: white;
    transform:skewX(-45deg);
    transition: all .4s ease-in;
}

.button:hover:after {
    right: 70%;
}

.button:hover:before {
    left:70%;
}


/***************************************DIVIDIER *****************/

.skew-cc{

  background: linear-gradient(to right bottom, #823A9C 49%, #fff 10%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c{

    background: linear-gradient(to left bottom, #fff 49%, #823A9C 10%);
  }

  .colour-block {
    background:#823A9C;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
  }




  /************************** nuevo BOTON *******************/

  

$bg: #3c3c3c;
$white: #7D3C98;
$black: #FFFFFF;

@mixin transition($property: all, $duration: 0.5s, $ease: cubic-bezier(0.65,-0.25,0.25, 1.95)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    @include transition(all, 0.5s, cubic-bezier(0.65,-0.25,0.25,1.95));
    font-weight: 900;
    color: $black;
    padding: 1.25rem 2rem;
    background: $white;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
      letter-spacing: 0.125rem;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
  
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}




/*****/




.links {
   width: 90%;
   margin: 0 auto;
 }
 
 .link {
   display: inline-block;
   vertical-align: top;
   width: 100px;
   height: 34px;
   line-height: 36px;
   text-transform: uppercase;
   text-decoration: none;
   color: #9D182A;
   letter-spacing: 0.1em;
   text-align: center;
   font-size: 0.8rem;
   margin: 10px;
   position: relative;
 }
 .link span {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   text-align: center;
 }
 
 .wipe, .slide, .opacity {
   border: 2px solid #9D182A;
   border-radius: 4px;
   overflow: hidden;
 }
 
 .opacity {
   -webkit-transition: background-color 0.3s linear, color 0.3s linear;
   transition: background-color 0.3s linear, color 0.3s linear;
   background: rgba(255, 255, 255, 0);
 }
 .opacity:hover {
   color: #9D182A;
   background: rgba(255, 255, 255, 0.9);
 }
 
 .wipe {
   -webkit-transition: color 0.3s ease-out;
   transition: color 0.3s ease-out;
 }
 .wipe::after {
   width: 100%;
   height: 100%;
   display: block;
   background-color: #9D182A;
   content: " ";
   position: absolute;
   top: 0;
   -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   -webkit-transform: translateY(34px);
           transform: translateY(34px);
   z-index: -1;
 }
 .wipe:hover {
   color: #124a58;
 }
 .wipe:hover::after {
   -webkit-transform: translateY(0px);
           transform: translateY(0px);
 }
 
 .underline {
   border: 2px solid transparent;
 }
 .underline::after {
   width: 0%;
   height: 2px;
   display: block;
   background-color: #9D182A;
   content: " ";
   position: absolute;
   top: 34px;
   left: 50%;
   -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
   transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 .underline:hover::after {
   width: 100%;
   height: 2px;
   display: block;
   background-color: #9D182A;
   content: " ";
   position: absolute;
   top: 34px;
   left: 0;
 }

 .img-noticia {
   width: 100%;
   height: 90%;
   position: relative;
}



.movie_card{
  position: relative;
  display: block;

  
  margin: auto auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(131, 145, 146, 0.8);
  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(215, 219, 221, 0.5);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      
      .type{
        display: inline-block;
        color: #C39BD3;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
      .text{
        color: #545454;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    width: 65%;
  }
  
  .movie_desc{
    width: 50%;
  }
  

  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{

    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}



$blue: #09C8FF;
$red: #FF4555;
$green: #39D7B3;
$yellow: #FFBA4B;

$text: #677b7a;

.alert {
	background: white;
	width: 100%;
	display: flex;
	padding: 1rem;
	align-items: center;
	border-radius: .8rem;
	border: 2px solid;
	margin-bottom: 1rem;
	position: relative;
	box-shadow: 0px 5px 12px rgba(black, .04), 0px 12px 25px rgba(black, .07);
	animation: transitionIn 200ms ease forwards;
	transition: all 200ms ease;
	&__message {
		color: $text;
	}
	&__close {
		$size: 1.3rem;
		width: $size;
		height: $size;
		line-height: $size;
		color: $text;
		text-align: center;
		position: absolute;
		top: .5rem;
		right: .5rem;
		cursor: pointer;
		border-radius: .4rem;
		&:hover, &:focus {
			background: rgba($text, .2);
		}
	}
	&__icon {
		margin-right: 1rem;
		$animation-time: 500ms;
		$size: 36px;
		width: $size;
		height: $size;
		animation: fade 500ms linear forwards;
	}
	&__icon-path {
		stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
		stroke-width: 4px;
  animation: dash 1s ease forwards;
		&--type {
			animation-delay: 300ms;
			animation-duration:5s;
		}
	}
	&--success {
		$color: $green;
		color: $color;
		border-color: $color;
	}
	&--warning {
		$color: $yellow;
		color: $color;
		border-color: $color;
	}
	&--danger {
		$color: $red;
		color: $color;
		border-color: $color;
	}
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// demo

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	color: $text;
	font-family: system-ui;
}

.wrapper {
	max-width: 500px;
	width: 100%;
	margin: auto;
	padding-top: 15vh;
		padding-left: .5rem;
	padding-right: .5rem;
}

.actions {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	&__title {
		width: 100%;
		text-align: center;
		padding-bottom: .5rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 85%;
	}
	.button {
		display: block;
		width: 25%;
	}
}

.button {
	font-family: inherit;
	background: transparent;
	color: white;
	background: $text;
	border: 0;
	padding: 1rem;
	cursor: pointer;
	margin: 0;
	&:hover {
		opacity: .8;
	}
	&--success {
		background: $green;
		&:focus, &:active {
			box-shadow: 0px 0px 0px 3px rgba($green, .4);
		}
	}
	&--danger {
		background: $red;
		&:focus, &:active {
			box-shadow: 0px 0px 0px 3px rgba($red, .4);
		}
	}
	&--warning {
		background: $yellow;
		&:focus, &:active {
			box-shadow: 0px 0px 0px 3px rgba($yellow, .4);
		}
	}
	&:focus, &:active {
		outline: 0;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* -------------------------------------------------------------------------- */
/*                          IMPORTADO DESDE CLINCIAZ                          */
/* -------------------------------------------------------------------------- */




.faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}
.faq-title h2 {
position: relative;
margin-bottom: 45px;
display: inline-block;
font-weight: 600;
line-height: 1;
}

.faq-title h5 {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  }

  .faq-title h5::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 120px;
    height: 2px;
    background: #03A9F4;
    bottom: -25px;
    margin-left: -60px;
  }

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #E91E63;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
padding: 0 190px;
margin-bottom: 10px;
}

.faq {
background: #FFFFFF;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 4px;
}

.faq .card {
border: none;
background: none;
border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
padding: 0px;
border: none;
background: none;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
width: 100%;
text-align: left;
padding: 0px;
padding-left: 30px;
padding-right: 30px;
font-weight: 400;
font-size: 15px;
letter-spacing: 1px;
color: #3B566E;
text-decoration: none !important;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
cursor: pointer;
padding-top: 20px;
padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
display: inline-block;
width: 20px;
height: 20px;
line-height: 14px;
float: left;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
text-align: center;
background: #E91E63;
color: #fff;
font-size: 12px;
margin-right: 20px;
}

.faq .card .card-body {
padding: 30px;
padding-left: 35px;
padding-bottom: 16px;
font-weight: 400;
font-size: 16px;
color: #6F8BA4;
line-height: 28px;
letter-spacing: 1px;
border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
margin-bottom: 14px;
}

@media (max-width: 991px) {
.faq {
  margin-bottom: 30px;
}
.faq .card .card-header .faq-title {
  line-height: 26px;
  margin-top: 10px;
}
}



.card-local {
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.card-local div:first-child {
  flex-basis: 35%;
}

.card-local div:last-child {
  flex-basis: 65%;
  padding: 0 0.5rem 0.25rem;
}

.card-local img {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card-local p {
  margin-top: 0.5rem;
  margin-bottom: 0.35rem;
}

.curve {
  border-radius: 0.35rem;
}