
    <div >
      <app-navbar ></app-navbar>
       <router-outlet ></router-outlet>
   
<div>
   <div class="row footer-white">
			<div class="row__item row__item--double text-center"></div>
			<div class="row__item row__item--double text-center"> <a class="navbar-brand  txt-azul-oscuro-colegio" routerLink="inicio"><img src="assets/img/psicologos-logo.png" height="50" alt=""> Colegio de psicologos</a></div>
			<div class="row__item row__item--double text-center"></div>
		</div>
    
    <iframe class="ui-panel-images" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.157275684147!2d-68.52539798484875!3d-31.547298081360662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9f952d9733%3A0x8915f1d5a2a5a334!2sColegio%20de%20Psic%C3%B3logos%20de%20San%20Juan!5e0!3m2!1ses-419!2sar!4v1568915827427!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

   <div  class=" footer-default">
      <div class="row">
     
          <div class="row__item row__item--double text-center">
              <label class="txt-azul-oscuro-colegio"><i class="fas fa-map-marker-alt"></i>   Gral. Mariano Acha Sur 1056 - Capital - San Juan</label>
          </div>
        
        </div>
    <div class="social-container">
        <ul class="social-icons">
            <!-- <li><a target="_blank" href=""><i class="fa fa-instagram"></i></a></li> -->
            <li><a target="_blank" href="https://www.facebook.com/Colegio-de-Psic%C3%B3logos-San-Juan-145327118869601/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCt8psYALiQa5Iid_yvSRH_w"><i class="fab fa-youtube"></i></a></li>            
        </ul>
   
  </div>

</div>

</div>