
    <div >
      <app-navbar ></app-navbar>
       <router-outlet ></router-outlet>
   
<div>
   <div class="row footer-white">
			<div class="row__item footer-white"></div>
			<div class="row__item footer-white"><img src="assets/img/logo-acsj-color.png" height="40" alt="Agencia calidad san juan"></div>
			<div class="row__item footer-white"></div>
		</div>

    <iframe class="ui-panel-images" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.736101292409!2d-68.52030788445309!3d-31.53140728136585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a8402eb6c4f%3A0x4f98944db90d915d!2sAgencia+Calidad+San+Juan!5e0!3m2!1ses!2sar!4v1563151127884!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

   <div  class=" footer-default">
      <div class="row">
     
          <div class="row__item row__item--double text-center">
              <label class="btn-menu-uno"><i class="fas fa-map-marker-alt"></i>   25 de Mayo 577 Este - Capital - San Juan</label>
          </div>
        
        </div>
    <div class="social-container">
        <ul class="social-icons">
            <li><a target="_blank" href="https://www.instagram.com/agenciacalidadsanjuan/"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/calidadsanjuan/?ref=br_rs"><i class="fab fa-facebook-f"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCub_cSiQjy0XhgnE2RKOCLg"><i class="fab fa-youtube"></i></a></li>            
        </ul>
   
  </div>

</div>

</div>