
<div class="background-quienes-somos  cuadro-size animated fadeIn slow ">
    <div class=" row ">
      
          
              <div class=" col-md-6 col-sm-12 col-xs-12  transparency-quienes-somos  col-sm-ml-2 col-sm-mr-2 animated slideInLeft mt-5 ">
            <div class="row ">
                  <div class="col-md-1 col-sm-0 ol-xs-0"></div>
                <div class="col-md-10 col-sm-12 col-xs-12 m-2 pt-5 pb-5 ">
                    <br>
                    <h5 ><p class="text-justify txt-noticia-inicio p-2 mt-5">La AGENCIA CALIDAD SAN JUAN, es una sociedad de econom&iacute;a mixta, entre el Gobierno de la Provincia de San Juan y las c&aacute;maras comerciales, industriales y dem&aacute;s asociaciones productivas de la Provincia y tiene por objeto promover la competitividad de las empresas radicadas en la Provincia San Juan y de los eslabonamientos productivos a los cuales pertenecen, con el prop&oacute;sito de asegurar el &eacute;xito comercial de San Juan fomentando el desarrollo t&eacute;cnico y econ&oacute;mico que permitan asegurar la presencia y reputaci&oacute;n positiva de los productos sanjuaninos en los mercados nacionales e internacionales, contribuyendo con ello a identificar, apoyar y cooperar en la instrumentaci&oacute;n de aut&eacute;nticas pol&iacute;ticas de estado.&nbsp;</p></h5>
                    <br>
                  
                </div>
                <div class="col-md-1 col-sm-0 col-xs-0"></div>
          </div>
          <hr class="d-sm-block d-none">
          <br>
          <br>        
          <br>
  </div>
  <div class=" col-md-3 col-sm-0 col-xs-0"></div>
  <div class=" col-md-3 col-sm-0 col-xs-0">   </div>
  </div>
  
  </div>
  
   
  
